* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.loginform {
  background: #fff;
  width: 400px;
  margin: 20px auto;
  border-radius: 5px;
}

.loginform h2 {
  background: #ed2b2c;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.loginform input {
  display: block;
}

.loginform input[type="checkbox"] {
  display: inline;
  margin: 10px;
}

.loginform input[type="text"],
.loginform input[type="password"] {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  /* border-radius: 1px; */
  border: 1px solid #2b57ee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.loginform a[title="fpass"] {
  margin-left: 30%;
  /* text-align: right; */
}

.loginform input[type="submit"] {
  width: 350px;
  margin: 20px auto;
  padding: 13px;
  background: #ed2b2c;
  border: 1px solid #ed2b2c;
}

.loginform h3 {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

.loginform a[title="facebook"],
.loginform a[title="twitter"] {
  text-decoration: none;
  padding: 15px 25px 15px 25px;
  color: #fff;
  margin: 20px auto;
}

.loginform a[title="facebook"] {
  background: #3f569b;
}

.loginform a[title="twitter"] {
  background: #01adef;
}

.loginform p {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  /* padding: 20px; */
}

/* .loginform div {
  width: 100%;
  background: rosybrown;
} */

/* .loginform div button {
  margin: 0px auto;
} */
